* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: lightgray;
}

main h1, main p {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

main h1 {
    text-transform: uppercase;
    margin-top: 30px;
}

#container {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc((100% / 3 * 1 - 30px));
    background-color: #fff;
    margin: 5px 0;
}

img {
    width: 100%;
}

p {
    width: 100%;
    margin: 0;
}